#search{
    margin-left: 60%;
    margin-top: -10%;
    z-index: 10;
    position: relative;
    color: #000;
    font-size: 90%;


}

#search input{
    padding: 0% 2%;
}
#search button{
    padding: 0% 2%;
    color: #fff;
    background: #000;
    border-color: #000;
}
#search label{
    margin-left: 0.5%;
    font-size: 100%;

}
li{
    margin-right: 50%;
    background: #fff;
    padding: 1% 30% 1% 1%;
    border-radius: 2%;
}
a{
    color: #000;

}
.paginator{
    padding: 0.2% 1%;
    margin-left: 2.5%;
}